<section class="userpage-section">
    <div class="wrapper">
        <div class="container-fluid animated fadeInDown">
            <div class="feature-section-content">
                    <div class="featured-item white">
                        <br />
                        <div class="item-name"><span class="fa fa-info-circle"></span> About Us</div>
                    </div>
            </div>
        </div>
    </div>
</section>

<section class="section">
    <div class="wrapper">
        <div class="container-fluid">
			<div>
				<br />
				<h3>Wahlin Consulting and CodewithDan.com</h3>
				Wahlin Consulting provides world-class development consulting, architecture and training services for companies around the world.
				While we have an excellent reputation in the industry, it turns out that not too many people can remember how to spell
				or say our name unfortunately (it's pronounced "wall-lean" so we understand why it's so hard to remember and spell). 
				As a result, the CodewithDan.com site was created since it's easy to remember and easy to spell. True story! 
				<br /><br />
				<h3>Technical Background</h3>
				Dan Wahlin is co-founder and CEO of Wahlin Consulting. He handles the technical operations and has over 15 years of development and training experience. 
				He's a <a href="https://developers.google.com/experts/people/dan-wahlin">Google Developer Expert (GDE)</a>, 
				<a href="https://mvp.microsoft.com/en-us/PublicProfile/7586?fullName=Dan%20Wahlin">Microsoft MVP</a> and is also part of 
				<a href="http://msrd.io/">Microsoft's Regional Director</a> and ASP Insiders programs. He's written 100s of articles
				and blog posts and authored/co-authored several books.
				<br /><br />
				Dan has created and taught training classes
				and provided mentoring, architecture and consulting services for some of the biggest companies in the world including 
				Intel, Microsoft, UPS, American Express, Goldman Sachs, General Dynamics, Chase, Wells Fargo, Bank of America, Sprint, various federal, 
				state and local government agencies and also worked with many mid-size and small companies as well. 
				<br /><br />
				<h3>Finances and Customer Support</h3>
				Heedy Wahlin is co-founder and CFO of the company. She handles all of the daily operations and quite honestly does all 
				of the hard work.
				<br /><br />
				<h3>Consulting, Architecture, Mentoring and Training Services</h3>
				In addition to consulting and architecture services, we provide onsite and online training courses as well as 
				self-paced video training solutions on various Web technologies including JavaScript (ES5/ES6), TypeScript, Angular, jQuery, 
				Node.js, C#, ASP.NET MVC, Web API and more. You might have seen some of our video courses on 
				<a href="http://udemy.com" target="_blank">Udemy.com</a> or <a href="http://pluralsight.com" target="_blank">Pluralsight.com</a>. 
				<br /><br />
				Everyone says they have the "best" training and services in the industry, but we can back that claim up with the rave reviews 
				from corporate clients and students that we've worked with over the years. 
				What sets us apart from other training and mentoring companies is our ability to create content that is focused on what 
				developers need to know rather than flooding them with unnecessary details. We also know how to teach concepts, not just talk about them
				(there's a big difference!). Our courseware is
				licensed by many of the top training companies out there.
				<br /><br />
 			</div>
		</div>
    </div>
</section>