<h1>Docker Commands</h1>
{{#each dockerCommands}}

   <h2>{{ command }} Command</h2>
   {{ description }}
   <br />
   
   {{#each examples}}
        <h3>{{ example }}</h3>
        {{ description }}
        <br />
   {{/each}}
   
   <br />
{{/each}}
