<main class="container">
    <app-root>
        Loading...
    </app-root>
    <br /><br />
</main>

<!-- Angular scripts -->
<script type="text/javascript" src="dist/runtime.js"></script>
<script type="text/javascript" src="dist/polyfills.js"></script>
<script type="text/javascript" src="dist/styles.js"></script>
<script type="text/javascript" src="dist/vendor.js"></script>
<script type="text/javascript" src="dist/main.js"></script>