apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: redis
  name: redis
spec:
  replicas: 1
  selector:
    matchLabels:
      app: redis
  template:
    metadata:
      labels:
        app: redis
    spec:
      containers:
      - image: codewithdan/redis
        imagePullPolicy: IfNotPresent
        name: redis
        ports:
        - containerPort: 6379
        resources: {}
