<a href="https://www.facebook.com/sharer/sharer.php?u={encodedUrl}&amp;t=Check out the great content on the Code with Dan site: {encodedUrl}"
    onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;">
    <i class="fa fa-facebook-square social-icon" style="color:#3B5998;"></i></a>&nbsp;&nbsp;
<a href="https://twitter.com/intent/tweet/?url={encodedUrl}&amp;text=Check out the great content on the Code with Dan website!"
    onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;">
    <i class="fa fa-twitter-square social-icon" style="color:#00aced;"></i></a>&nbsp;&nbsp;
<a href="https://plus.google.com/share?url={encodedUrl}"
    onclick="javascript:window.open(this.href,'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;">
    <i class="fa fa-google-plus-square social-icon" style="color:#dd4b39;"></i></a>&nbsp;&nbsp;
<a href="http://www.linkedin.com/shareArticle?mini=true&amp;url={encodedUrl}&amp;title=Code With Dan&amp;summary=Code with Dan: Training and Videos&amp;source=Code with Dan"
    onclick="javascript:window.open(this.href,'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;">
    <i class="fa fa-linkedin-square social-icon" style="color:#007bb6"></i></a>