<div class="wrapper">
    <div class="container">
        <h1>Oops...looks like that page isn't found.</h1>
        <br />
        This is only a demo of the real site located at <a href="http://codewithdan.com">http://codewithdan.com</a>. :-)
    </div>
</div>

